
.hero__content {
}

.welcome {
    --backdrop-url: none;

    background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ),
    var(--backdrop-url);

    width: 100%;
    /*height: 70vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Плавный переход при смене картинки */
    transition: background-image 0.5s ease-in-out;
}

.hero__search {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text {
    text-align: left;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.autocomplete {
    width: 300px;
}

.autocomplete :global .MuiAutocomplete-popupIndicator,
.autocomplete :global .MuiAutocomplete-clearIndicator {
    color: white;
}

.textField :global .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.7);
}

.textField :global .MuiOutlinedInput-input {
    color: white;
}

.textField :global .MuiInputLabel-outlined {
    color: rgba(255, 255, 255, 0.7);
}

.textField:hover :global .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.textField:hover :global .MuiInputLabel-outlined {
    border-color: white;
    color: white;
}

.textField :global .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.textField :global .MuiInputLabel-outlined.Mui-focused {
    border-color: white;
    color: white;
}
