.header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1100;
    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
