.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1100;
    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

