.card {
    width: 150px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: visible;
    padding: 5px;
    background-color: rgba(32, 46, 64, 0.65);
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.menuButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #000;
}

.menuButton:hover {
    background: #01b4e4;
    color: #fff;
}

/* Стили рейтинга (кружок) */
.ratingBadge {
    position: absolute;
    bottom: -19px;
    left: 10px;
    width: 38px;
    height: 38px;
    background-color: #081c22;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage {
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.percentSymbol {
    font-size: 5px;
    vertical-align: super;
}

.svg {
    position: absolute;
    width: 38px;
    height: 38px;
    transform: rotate(-90deg);
}

.circleBg {
    fill: none;
    stroke: #204529;
    stroke-width: 2;
}

.circleProgress {
    fill: none;
    stroke: #21d07a; /* Зеленый цвет как на скриншоте */
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 106; /* Длина окружности 2 * pi * r */
    transition: stroke-dashoffset 0.35s;
}

/* Информация о фильме */
.info {
    padding: 26px 10px 12px 10px;
}

.title {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    cursor: pointer;
}

.title:hover {
    color: #01b4e4;
}

.date {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
}